  <header class="page-header">
    <div class="intro">
      <p>
        Welcome to the jungle, we got fun and games.
        We got everything you want, honey, we know the names.
        We are the people that can find whatever you may need.
        If you got the money, honey, we got your disease.

        In the jungle, welcome to the jungle.
        Watch it bring you to your shun-n-n-n-n-n-n-n-n-n-n-n, knees, knees.
        Mwah, ah, I wanna watch you bleed.
      </p>
      <p>
        Welcome to the jungle, we take it day by day.
        If you want it you're going to bleed, but it's the price you pay.
        And you're a very sexy girl, it's very hard to please.
        You can taste the bright lights, but you won't get there for free.

        In the jungle, welcome to the jungle.
        Feel my, my, my, my serpentine.
        Oh, ah, I wanna hear you scream.
      </p>
      <p>
        We also have a wide variety of plants and flowers available for purchase on our website. Whether you're looking for something small and delicate or big and bold, we have the perfect plant for you. We also carry a selection of accessories, including potting soil, pots and containers, watering cans, and more.
      </p>
    </div>
  </header>